<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--	<virtualType name="Aiti\ProductResponsibleUserAdminUi\Model\ResourceModel\ProductResponsibleUser\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aiti_productresponsibleuseradminui_productresponsibleuser</argument>
			<argument name="resourceModel" xsi:type="string">Aiti\ProductResponsibleUserAdminUi\Model\ResourceModel\ProductResponsibleUser\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="aiti_productresponsibleuseradminui_productresponsibleuser_listing_data_source" xsi:type="string">Aiti\ProductResponsibleUserAdminUi\Model\ResourceModel\ProductResponsibleUser\Grid\Collection</item>
			</argument>
		</arguments>
	</type>-->
</config>
